<ion-header>
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Modificar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <div class="form" action="">
    <div class="form-control">
      <ion-label>Tipo de usuario:</ion-label>
      <ion-select [(ngModel)]="usuario.id_tipo_user" style="color: white;" placeholder="Seleccione tipo de usuario"
        type="Text" required>
        <ion-select-option value="1">Administrador</ion-select-option>
        <ion-select-option value="2">Cliente</ion-select-option>
      </ion-select>
    </div>

    <div class="form-control">
      <ion-label>RUT:</ion-label>
      <input disabled [(ngModel)]="usuario.rut" minlength="8" type="text" placeholder="Sin puntos ni guion"
        maxlength="9">
      <small>Error message</small>
    </div>
    <div class="form-control">
      <ion-label>Nombre de usuario:</ion-label>
      <input disabled [(ngModel)]="usuario.nick " minlength="5" type="text"
        placeholder="Ingrese su Nombre de usuario" />
      <small>Error message</small>
    </div>

    <div class="form-control">
      <ion-label>Nombres:</ion-label>
      <input disabled [(ngModel)]="usuario.nombres" minlength="10" type="text" placeholder="Ingrese su nombre" />
      <small>Error message</small>
    </div>

    <div class="form-control">
      <ion-label>Apellidos:</ion-label>
      <input disabled [(ngModel)]="usuario.apellidos" type="text" placeholder="Ingrese su Apellido" />
      <small>Error message</small>
    </div>

    <div class="form-control">
      <ion-label>Fecha de nacimiento:</ion-label>
      <input disabled [(ngModel)]="usuario.fecha" type="date">
      <small>Error message</small>

    </div>

    <div class="form-control">
      <ion-label>Dirección de correo electrónico:</ion-label>
      <input disabled [(ngModel)]="usuario.email" type="email" placeholder="Ingrese su correo electrónico" />
      <small>Error message</small>
    </div>

    <div>
      <ion-button (click)="editar()" type="submit" class="botons" expand="full" color="dark">Modificar usuario
      </ion-button>
    </div>

  </div>

</ion-content>