<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="perfil()"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Eliminar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  
  <div class="form" action="">

    <h2 style="color: white;text-align: center;padding-top: 30px;padding-bottom: 30px;">{{ user.nickname | uppercase}} por motivos de seguridad debes ingresar tu contraseña
      para eliminar tu cuenta</h2>

    <div class="form-control">
      <ion-label>Contraseña:</ion-label>
      <input [(ngModel)]="Pass" minlength="4" type="password" placeholder="Ingresar contraseña actual" minlength="4" />
      <small>Error message</small>
    </div>
    <div class="form-control">
      <ion-label>Repetir contraseña:</ion-label>
      <input [(ngModel)]="Pass2" minlength="4" type="password" placeholder="Repita su contraseña" minlength="4" />
      <small>Error message</small>
    </div>
    <ion-button (click)="borrar(user)" style="margin-top: 50px; display: flex;" type="submit"  color="medium">Eliminar Cuenta
    </ion-button>
    <!-- <ion-button slot="start" (click)="perfil()" style="margin-top: 50px;display: flex;"  type="submit" color="medium">Volver
  </ion-button> -->
  </div>

  <!-- <ion-card  (click)="accion()" class="colorcard" style="cursor: pointer;" >
    <ion-card-header>
      <img src="assets/imgmenu/cataccion.png">
    </ion-card-header>
  </ion-card>
  <ion-card (click)="aventura()" class="colorcard" style="cursor: pointer;" >
    <ion-card-header>
      <img src="assets/imgmenu/cataventura.png">
    </ion-card-header>
  </ion-card>
  <ion-card (click)="br()" class="colorcard" style="cursor: pointer;" >
    <ion-card-header>
      <img src="assets/imgmenu/catbr.png">
    </ion-card-header>
  </ion-card>
  <ion-card  (click)="carreras()"class="colorcard" style="cursor: pointer;">
    <ion-card-header>
      <img src="assets/imgmenu/catcarreras.png">
    </ion-card-header>
  </ion-card>
  <ion-card (click)="shooter()" class="colorcard" style="cursor: pointer;">
    <ion-card-header>
      <img src="assets/imgmenu/catshooter.png">
    </ion-card-header>
  </ion-card> -->

</ion-content>