<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/icon/logo.png" style="width: 240px; height: 40px;" class="center" alt="">
  </ion-toolbar>

</ion-header>
<ion-content class="fondo">
  <ion-card color="dark"
    style="margin-top: 5px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;border-radius: 20px;">
    <img height="auto" src="assets/icon/normas.png" style="margin-top: 10px;">
    <ion-card-content>

      <ion-card-title style="text-align: center;">
      </ion-card-title>
      <h2>Reglas generales</h2>
      <p>
        Provocar o insultar a otros miembros.
        Saltarte cualquier filtro.
        Abusar o fomentar el abuso de los sistemas de reputación o denuncia.
        Publicar información personal identificativa (como nombres, direcciones, correos electrónicos, números de
        teléfono, etc.).
        Publicar comentarios con el único propósito de colocar el tema en el comienzo de la lista.
        Desvirtuar la línea general de un tema.
        Publicar enlaces a sitios web con intenciones ilícitas (phishing).
        Publicar spam (como +1, 10char, rickrolls) o volver a publicar material cerrado, modificado o eliminado.
        Publicar de forma reiterada en el foro incorrecto (por ejemplo, las peticiones de intercambio pertenecen al foro
        de intercambio).
        Discutir públicamente con un moderador.
        Manipular las reseñas de usuarios o los sistemas de votación y evaluación.</p>
      <h2>Reglas de contenido</h2>
      <p>
        No publiques ningún contenido en Steam que contenga lo siguiente:

        Pornografía, contenido ofensivo o inapropiado, contenido robado o publicado antes de tiempo o cualquier cosa que
        no sea apropiada para entornos laborales.
        Discusiones sobre piratería, incluyendo, pero no limitándose a:
        Craqueos.
        Generadores de claves.
        Emuladores de consola.
        Comentarios sobre cómo hacer trampas, hackear o aprovecharse de errores de juegos.
        Amenazas de violencia o acoso, incluso si es en broma.
        Publicar material con copyright, como por ejemplo escaneos de revistas.
        Pedir cosas gratis, subastar, sortear, vender, anunciarse o publicar enlaces para recomendar servicios.
        Racismo y discriminación.
        Lenguaje ofensivo, incluidas palabras malsonantes.
        Drogas o alcohol.
        Cuestiones religiosas, políticas o «que suelen causar polémica».
        No realices las funciones del moderador
        Deja que los moderadores hagan su trabajo. No intentes que los demás usuarios cumplan las normas si no eres un
        moderador. Si ves a alguien saltándose las normas, utiliza el botón Denunciar () o simplemente ignora el
        comentario, tema o análisis ofensivo.
      </p>
      <h2>Informar sobre publicaciones a los moderadores</h2>
      <p>
        Si te encuentras a un miembro de la comunidad que no cumple las reglas, por favor, informa sobre ese comentario,
        tema o artículo inapropiado al hacer un clic en el botón Denunciar () que se encuentra en cada artículo,
        publicación y análisis.</p>

      <h2>Infractores reincidentes</h2>
      <p> infractores que violen de forma reiterada las normas descritas aquí serán expulsados de la Comunidad Steam y
        se les prohibirá el acceso. Cualquier moderador tiene la capacidad de prohibir el acceso a un usuario que viole
        las normas, y utilizará esta función según su criterio.</p>


    </ion-card-content>
  </ion-card>

</ion-content>