<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <div class="tamanno">
    <img src="../assets/icon/logo.png" alt="">
  </div>

  <ion-item class="casillas bordetop">
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input type="usuario" [(ngModel)]="login.usuario" maxlength="20" minlength="5" required></ion-input>
  </ion-item>

  <ion-item class="casillas">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="login.password" maxlength="15" minlength="4" required></ion-input>
  </ion-item>


  <ion-button class="botons" expand="full" type="Submit" color="dark" (click)="home()">
    Iniciar sesión
  </ion-button>

  <p style="text-align: center; padding-top: 7px;"> ¿No tienes cuenta? <a
      style="text-decoration: none; color: rgb(255, 255, 255); cursor: pointer;" target="_blank"
      rel="noopener noreferrer" (click)="reg()">Crear cuenta</a></p>

  <p style="text-align: center; padding-top: 7px;color: whitesmoke;text-decoration: none;"target="_blank"
  rel="noopener noreferrer" [routerLink]="['/to-soporte']">¿Olvidaste tus datos?</p>
</ion-content>