<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/icon/logo.png" style="width: 240px; height: 40px;"class="center" alt="">
  </ion-toolbar>

</ion-header>

<ion-content class="fondo">
  <ion-card color="dark"
    style="margin-top: 5px; margin-bottom: 10px; margin-right: 10px; margin-left: 10px;border-radius: 20px;">
    <img height="auto" src="assets/icon/nosotros.png" style="margin-top: 10px;">
    <ion-card-content>

      <ion-card-title style="text-align: center;">
      </ion-card-title>
      <p>
        La empresa Toolash luego del boom que tuvo en su primera ocasión con su página de ventas para componentes de pc,
        seguridad y prestación de servicios, decide expandirse al mundo de los videojuegos, para comenzar la venta de
        videojuegos, por ende deciden crear una aplicación móvil pero testeando en un formato diferente a vender
        videojuegos para no exponerse a un fracaso, así mismo crean PlayToolash, APP enfocada principalmente en las
        reseñas de Videojuegos entre las categorías más jugadas dando a los usuarios la posibilidad de conocer acerca de
        nuevos juegos que van entrando al mercado, viendo así la información de cada videojuego, incluso los mismos
        usuarios podrían escribir reseñas acerca del Videojuego.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
